
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", system-ui, sans-serif;
}


body {
    height: 100vh;
    background:
        radial-gradient(circle at top left, #6a85ff, transparent 40%),
        radial-gradient(circle at bottom right, #ff6ad5, transparent 40%),
        #0b0f1a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.login-card {
    width: 380px;
    padding: 42px;
    border-radius: 22px;
    position: relative;
    z-index: 2;
    background: linear-gradient(145deg,
            rgba(255, 255, 255, 0.12),
            rgba(255, 255, 255, 0.04));

    backdrop-filter: blur(22px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    box-shadow:
        0 30px 80px rgba(0, 0, 0, 0.55),
        inset 0 1px 1px rgba(255, 255, 255, 0.2);

    animation: cardEnter 0.9s ease;
}


.login-card h1 {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.5px;
}

.login-card p {
    text-align: center;
    margin: 12px 0 34px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}


.field {
    margin-bottom: 22px;
}

.field input {
    width: 100%;
    padding: 15px 16px;
    border-radius: 14px;
    border: none;
    outline: none;

    background: rgba(255, 255, 255, 0.14);
    color: #fff;
    font-size: 15px;

    transition: 0.3s ease;
}

.field input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.field input:focus {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 0 0 2px rgba(140, 160, 255, 0.6);
}


.login-card button {
    width: 100%;
    padding: 15px;
    border-radius: 16px;
    border: none;

    background: linear-gradient(135deg, #8a9cff, #ff85db);
    color: white;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s ease;
}

.login-card button:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 40px rgba(255, 133, 219, 0.45);
}

.msg {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
}


@keyframes cardEnter {
    from {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}


.mouse-bg {
    position: fixed;
    inset: 0;
    pointer-events: none;


    z-index: 0;

    background:
        radial-gradient(320px at var(--x, 50%) var(--y, 50%),
            rgba(140, 160, 255, 0.14),
            rgba(140, 160, 255, 0.06) 40%,
            transparent 70%);
}
